@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
    width: 186px;
    height: 48px;
	background-image: url(./public/logo.svg);
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}