@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    header li {
        @apply text-Grayscale-5 text-base hover:text-Primary-5 transition-all;
    }
    header li a {
        @apply py-2;
    }
    .btn-sm {
        @apply bg-Primary-3 text-Grayscale-5 flex items-center gap-x-2 px-sp-3 py-sp-2 rounded-sp-5 hover:bg-Primary-4 transition-all;
    }
    .mediaIcon {
        @apply flex gap-x-sp-3;
    }
    .mediaIcon img {
        @apply hover:scale-125 duration-300 transition-all;
    }
    .animateText {
        @apply text-Grayscale-0 text-[260px]/[320px] font-bold tracking-[13px] flex-none cursor-default select-none;
    }
    .animateText img {
        width: 200px;
        display: inline-block;
    }
    .maintitle {
        @apply text-Primary-5 text-5xl/[72px] font-bold flex flex-col gap-2 w-[264px] flex-none;
    }
    .maintitle span {
        @apply text-xl font-normal;
    }
    .smallTitle {
        @apply text-[28px]/[42px] text-Primary-5 font-bold;
    }
    .eventList li {
        @apply flex gap-x-4 items-center;
    }
    .eventList li >div:first-child {
        @apply w-1/3 relative mr-3 mb-3;
    }
    .eventList li >div:last-child {
        @apply w-2/3 text-base/[28px] text-Grayscale-4 flex flex-col gap-2;
    }
    .eventImg {
        @apply flex items-center justify-center rounded-sp-3 border-Primary-2 border-2 overflow-hidden;
    }
    .eventImgShadow {
        @apply w-full absolute h-full rounded-sp-3 border-Primary-2 border-2 bg-Primary-2 -z-10;
        content: "";
        top: 12px;
        left: 12px;
    }
    .eventImg img {
        @apply rounded-sp-3;
    }
    .eventFooter {
        @apply flex justify-between items-center;
    }
    .eventFooter span {
        @apply text-Primary-5;
    }
}

html,
body {
    font-family: "Quicksand", "Noto Sans TC", sans-serif;
}

.logo {
    width: 186px;
    height: 48px;
    background: url(./public/logo.svg) no-repeat center / cover ;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.twoLineHiddenText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}